@import url(./utils.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  -rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  -decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  padding: 0 38px;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.grey {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dialog {
  border: none;
  border-radius: 16px;
  box-shadow: 10px 5px 50px rgb(195, 193, 193);
  &::backdrop {
    background: black;
    opacity: 0.2;
  }

  & form {
    justify-content: space-between;
    height: 90%;
  }

  & menu {
    align-self: flex-end;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* items -------------------------------- ------------------------------------------------------------------------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 1.6rem;
  line-height: 1.8;
}

.form {
  color: #455a64;
  max-width: 80%;
}

input {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 2.1rem;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
  border-bottom: solid 1px #213547;
  border-radius: 0.4rem;
  transition: box-shadow 300ms;
}

input::placeholder {
  color: #b0bec5;
}

input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #777779;
}

#item-calories {
  margin-bottom: 16px;
}

.form-container {
  display: flex;
}
