@import url(./utils.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background: #dde1e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.nav-list {
  display: flex;
  gap: 8px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grey {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

dialog {
  border: none;
  border-radius: 16px;
  &::backdrop {
    background: black;
    opacity: 0.2;
  }

  & form {
    justify-content: space-between;
    height: 90%;
  }

  & menu {
    align-self: flex-end;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* items -------------------------------- ------------------------------------------------------------------------------------------------ */

.form {
  color: #455a64;
  max-width: 80%;
}

input {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 1.3rem;
  border: solid 1px #a3b1bc;
}

input::placeholder {
  color: #b0bec5;
}

input:focus {
  outline: none;
}

#item-calories {
  margin-bottom: 16px;
}

nav {
  position: sticky;
  top: 0;
  background-color: #646cff;
  padding: 0 18px;

  & a,
  & li {
    color: white;
  }
}

.container {
  flex: 1;
}

.card {
  max-width: 600px;
  width: 100%;
}

.progress-container {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  & progress {
    width: 100%;
    min-height: 50px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-btn {
  width: 100%;
}

.collection {
  gap: 8px;
  padding: 0;
  margin: 0;
  max-width: 600px;
  width: 100%;
}

.collection-item {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 50px;
  background-color: white;
  border: #c8c9ca 1px solid;

  & :last-child {
    margin-left: auto;
  }
}

canvas {
  height: 300px;
}

.wrapper {
  justify-content: space-between;
}

h3 {
  min-width: 480px;
  text-align: center;
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
  }

  canvas {
    height: 300px;
  }
}
